<% include ../partials/head %>

    <div class="container">

      <h1><%= title %> Results</h1>

      <h4>You are testing site: <a href="<%= page %>" target="_blank"><%= page %></a></h4>
      <hr />

      <h2>Results</h2>

      <div class="row">
        <div class="col-md-12">
          <h4>Global ASU Links Test Results</h4>
          <h4>Pass/Fail: <%= passfail %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Buttons Test Results</h4>
          <table class="table table-hover">
            <caption>Buttons on page: <%= pf.length %></caption>
            <thead>
              <tr>
                <th>Button Text</th>
                <th>Casing Type</th>
                <th>Pass/Fail</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < pf.length; i++) { %>
                 <tr>
                   <td><%= pf[i].text %></td>
                   <td><%= pf[i].casing %></td>
                   <td><%= pf[i].passfail %></td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Unit Name Test Results</h4>
          <table class="table table-hover">
            <caption>Unit Names on page: <%= un.length %></caption>
            <thead>
              <tr>
                <th>Text</th>
                <th>Casing Type</th>
                <th>Pass/Fail</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < un.length; i++) { %>
                 <tr>
                   <td><%= un[i].text %></td>
                   <td><%= un[i].casing %></td>
                   <td><%= un[i].passfail %></td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Favicons Test Results</h4>
          <h2>favicon.ico Test</h2>
          <div class="row">
            <div class="col-md-3">Baseline Image</div>
            <div class="col-md-3">Your Image</div>
            <div class="col-md-3">Difference</div>
            <div class="col-md-3">Pass/Fail</div>
          </div>

          <div class="row">
            <div class="col-md-3"><img src="/baselineImages/favicon.ico" alt="baseline favicon"></div>
            <div class="col-md-3"><img src="/downloadedImages/favicon.ico" alt="your favicon"></div>
            <div class="col-md-3"><img src="/resultImages/favicon-difference.ico" alt="result favicon"></div>
            <div class="col-md-3">
              <% if(favicondp > 0){ %>
                <strong>FAIL</strong>
              <% } else { %>
                PASS
              <% } %>
            </div>
          </div>

          <h2>apple-touch-icon.png Test</h2>
          <div class="row">
            <div class="col-md-3">Baseline Image</div>
            <div class="col-md-3">Your Image</div>
            <div class="col-md-3">Difference</div>
            <div class="col-md-3">Pass/Fail</div>
          </div>

          <div class="row">
            <div class="col-md-3"><img src="/baselineImages/apple-touch-icon.png" alt="baseline apple touch icon"></div>
            <div class="col-md-3"><img src="/downloadedImages/apple-touch-icon.png" alt="your apple touch icon"></div>
            <div class="col-md-3"><img src="/resultImages/apple-touch-icon-difference.png" alt="result apple touch icon"></div>
            <div class="col-md-3">
              <% if(appleicondp > 0){ %>
                <strong>FAIL</strong>
              <% } else { %>
                PASS
              <% } %>
            </div>
          </div>
        </div>
      </div>

    </div>

<% include ../partials/footer %>
