<% include ../partials/head %>

    <div class="container">

      <h1><%= title %> Results</h1>

      <h4>You are testing site: <a href="<%= data.mainSiteLink %>" target="_blank"><%= data.mainSiteLink %></a></h4>
      <hr />

      <h2>Results</h2>

      <div class="row">
        <div class="col-md-12">
          <h4>Sitemap pages</h4>
          <table class="table table-hover">
            <caption>Total pages: <%= data.siteLinks.length %></caption>
            <thead>
              <tr>
                <th>Page</th>
                <th>Overall Grade</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < data.siteLinks.length; i++) { %>
                 <tr>
                   <td><a href="runall/singlegrade/<%= i %>"><%= data.siteLinks[i].link %></a></td>
                   <td><%= data.siteLinks[i].overallGrade %></td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

<% include ../partials/footer %>
