<% include ../partials/head %>

    <div class="container">

      <h1><%= title %> Results</h1>

      <h4>You are testing site: <a href="<%= page %>" target="_blank"><%= page %></a></h4>
      <hr />

      <h2>Results</h2>

      <div class="row">
        <div class="col-md-12">
          <h4>Sitemap with page results</h4>
          <table class="table table-hover">
            <caption>Total pages: <%= results.length %></caption>
            <thead>
              <tr>
                <th>Page</th>
                <th>Global ASU Links</th>
                <th>Buttons</th>
                <th>Unit Name</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < results.length; i++) { %>
                 <tr>
                   <td><%= results[i].link %></td>
                   <td>||</td>
                   <td>|||</td>
                   <td>||||</td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Global ASU Links Test Results</h4>
          <h4>Pass/Fail: <%= passfail %></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Buttons Test Results</h4>
          <table class="table table-hover">
            <caption>Buttons on page: <%= pf.length %></caption>
            <thead>
              <tr>
                <th>Button Text</th>
                <th>Casing Type</th>
                <th>Pass/Fail</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < pf.length; i++) { %>
                 <tr>
                   <td><%= pf[i].text %></td>
                   <td><%= pf[i].casing %></td>
                   <td><%= pf[i].passfail %></td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Unit Name Test Results</h4>
          <table class="table table-hover">
            <caption>Unit Names on page: <%= un.length %></caption>
            <thead>
              <tr>
                <th>Text</th>
                <th>Casing Type</th>
                <th>Pass/Fail</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < un.length; i++) { %>
                 <tr>
                   <td><%= un[i].text %></td>
                   <td><%= un[i].casing %></td>
                   <td><%= un[i].passfail %></td>
                 </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

<% include ../partials/footer %>
