<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Site report.</h1>
      <p><a href="/testrunner/savesitereport/<%= reportid %>">Save pdf.</a></p>
      <p><a href="/testrunner/report-sortable/<%= reportid %>">Sortable.</a></p>

      <hr />

      <h4>Report ID: <a href="/testrunner/report/<%= buttonstests._id %>"><%= buttonstests._id %></a></h4>
      <h4>Report Date: <%= buttonstests.created_at %></h4>
      <h4>Report Main Site URL: <%= buttonstests.url %></h4>
      <h2>Overall Site Grade: Grade %</h2>

      <hr />

      <div class="row">
        <div class="col-md-12">
        <table class="table table-striped table-bordered">
          <caption>Total links: <%= buttonstests.length %></caption>
          <thead>
            <tr>
              <th>Page URL</th>
              <th>Page Grade</th>
              <th>Page Report Link</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < buttonstests.length; i++) { %>
               <tr>
                 <td><%= buttonstests[i].pageLink %></td>
                 <td>Grade %</td>
                 <td><a href="/testrunner/report/<%= reportid %>/<%= buttonstests[i]._id %>">LINK</a></td>
               </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>

    </div>

<% include ../partials/testrunner-footer %>
