<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Test report.</h1>
      <p><a href="/testrunner/savesitereport/<%= reportid %>/<%= pageid %>/<%= testid %>">Save pdf.</a></p>

      <hr />

      <h4>Report ID: <a href="/testrunner/report/<%= reportid %>"><%= reportid %></a></h4>
      <h4>Page ID: <%= pageid %></h4>
      <h4>Test ID: <%= testid %></h4>
      <h2>Grade: Grade %</h2>

      <hr />

      <p>Single test results listed here.</p>

      <%= testresults %>

    </div>

<% include ../partials/testrunner-footer %>
