<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Site report.</h1>

      <hr />

      <h4>Report ID: <a href="/testrunner/report/<%= site[0]._id %>"><%= site[0]._id %></a></h4>
      <h4>Report Date: <%= site[0].created_at %></h4>
      <h4>Report Main Site URL: <%= site[0].url %></h4>
      <h2>Overall Site Grade: Grade %</h2>

      <hr />

      <div class="row">
        <div class="col-md-12">
        <table class="table table-hover">
          <caption>Total links: <%= site[0].links.length %></caption>
          <thead>
            <tr>
              <th>Page URL</th>
              <th>Page Grade</th>
              <th>Page Report Link</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < site[0].links.length; i++) { %>
               <tr>
                 <td><%= site[0].links[i] %></td>
                 <td>Grade %</td>
                 <td><a href="<%= site[0]._id %>/<%= i %>">LINK</a></td>
               </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>

    </div>

<% include ../partials/testrunner-footer %>
