<% include ../partials/testrunner-head %>

    <div class="container">

      <h1>Test report.</h1>

      <hr />

      <p><%= results %></p>

      <h4>Report ID: <a href="/testrunner/report/<%= results.siteID %>"><%= results.siteID %></a></h4>
      <h4>Page ID: <%= results._id %></h4>
      <h4>Page Link: <a href="<%= results.pageLink %>" target="_blank"><%= results.pageLink %></a></h4>
      <h4>Page Title: <%= results.results[0].pageTitle %></h4>
      <h4>Test ID: <%= testid %></h4>
      <h2>Grade: Grade %</h2>

      <hr />

      <p>Single test results listed here.</p>

    </div>

<% include ../partials/testrunner-footer %>
