<% include ../partials/head %>

    <div class="container">

      <h1><%= title %> Results</h1>

      <h3>You are testing page: <a href="<%= page %>" target="_blank"><%= page %></a></h3>

      <div class="row">
        <div class="col-md-12">
        <table class="table table-hover">
          <caption>Unit Names on page: <%= un.length %></caption>
          <thead>
            <tr>
              <th>Text</th>
              <th>Casing Type</th>
              <th>Pass/Fail</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < un.length; i++) { %>
               <tr>
                 <td><%= un[i].text %></td>
                 <td><%= un[i].casing %></td>
                 <td><%= un[i].passfail %></td>
               </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      </div>

    </div>

<% include ../partials/footer %>
